{
  "env": {
    "browser": true,
    "es6": true,
    "jest/globals": true
  },
  "plugins": ["react", "jest", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "settings": {
    "react": { "version": "latest" }
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "linebreak-style": ["error", "unix"],
    "eqeqeq": "error",
    "no-console": 0,
    "react/prop-types": 0,
    "prettier/prettier": "error"
  }
}
